<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>

<h1>FAQ</h1>

<h3>Why a subscription?</h3>
<p>The software used by this app is free and open source, but unfortunately, it cannot run locally on an iOS device for multiple reasons. That's why I decided to create an app that can be easily installed from the App Store without any setup required. It's also possible to use this app for free by using a self hosted instance of <a href="https://github.com/cdr/code-server">code-server</a>.</p>

<h3>Why an app?</h3>
<p>Many people just host a <a href="https://github.com/cdr/code-server">code-server</a> instance and use it on an iPad with Safari. This is great with an SFTP client or to just edit some code hosted on a remote machine. However, Codator makes it easier to edit local files. The app allows you to upload and download files in place easily and works well with the Files app or other third party apps. It also supports iPadOS 13 multiple windows and state restoration.</p>

<h3>What can I do with this app?</h3>
<p>Codator works well for editing files stored on your iPad or iPhone, but the subscription doesn't give a full server with root access. <b>Don't use it as a full purpose hosting.</b> There isn't any login to use the app because an user and its credentials are randomly generated and only stored in the app. Files will not be erased, but they may not be recoverable if you delete the app from all of your devices.</p>
